.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
  }
  
  .form-container {
    width: 30%;
    padding-top: 10%;
    text-align: center;
    padding-left: 35%;
  }
  .form-group{
    padding-top: 10px;
  }
  
  h2 {
    color: #000000;
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
  }
  .form-group label{
   
    font-weight: 700;
  }
  
  button {
    width: 30%;
    padding: 15px;
    font-weight: 900;
    font-size: large;
    margin-top: 25px;
    background-color: #4ca5af;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: none;
  }
  
  .input-group {
    text-align: center;
    margin: 0 auto;
    width: 100%;
  }
  
  input[type=text],
  input[type=password],
  input[type=email],
  input[type=textl] {
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  input[type=text]:focus,
  input[type=password]:focus,
  input[type=email]:focus,
  input[type=text]:focus {
    border-color: #4ca5af;
    outline: none;
    background-color: #f0f0f0;
  }
  
  h1 {
    width: 40%;
    color: #d6c18b;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 40px 0px 2px;
    margin-left: 30%;
  }
  
  h1 span {
    background: #fbf9f9;
    padding: 0 10px;
  }
  .error-message{
    color: red;
  }
  
  /* Media query for smaller screens */
  @media screen and (max-width: 768px) {
    .container {
      padding-top: 40%;
    }
  
    .form-container {
    align-items: center;
      width: 80%;
      padding-top: 50%;
    padding-left: 10%;
      
    }
  
    h1 {
      width: 90%;
      margin-left: 2%;
      font-size: medium;
    }
  
    button {
      width: 80%;
    }
  
    .input-group {
      width: 80%;
    }
  }
  