<div class="text">
  <p> Prescription History </p>
</div>

<div class="full-page-spinner" *ngIf="loading">
  <div class="spinner"></div>
</div>

<div class="cards-container" *ngIf="!loading">
  <!-- Check if prescriptions array is empty -->
  <ng-container *ngIf="prescriptions && prescriptions.length > 0; else noPrescriptions">
    <!-- Display prescription cards -->
    <div class="card" *ngFor="let prescription of prescriptions">
      <div class="card-content">
        <h2>Doctor Name</h2>
        <p>{{ prescription.doctorName }}</p>

        <h2>Disease</h2>
        <p>{{ prescription.disease }}</p>

        <!-- Display createdAt without time portion -->
        <h2>Created At</h2>
        <p>{{ prescription.createdAt | date:'mediumDate' }}</p>

        <h2>Medicines</h2>
        <ul>
          <li *ngFor="let medicine of prescription.medicines">
            {{ medicine.MedicineName }}  |  {{ medicine.frequency }} |{{ medicine.Period }}
          </li>
        </ul>
      </div>
    </div>
  </ng-container>
</div>

<!-- Error message when no prescriptions are found -->
<ng-template #noPrescriptions>
  <div class="error-message" *ngIf="!loading">
    <p>No prescriptions found for the patient.</p>
  </div>
</ng-template>
