/* Default styles */
.text {
  padding-top: 10%;
  text-align: center;
  font-weight: 900;
  font-size: 25px;
  color: #d6c18b;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the cards horizontally */
  padding-top: 1%;
  margin: 0 auto; /* Center the container horizontally */
  max-width: 1200px; /* Limit maximum width of container */
}

.card {
  width: calc(33.33% - 20px); /* Adjust the width to show 3 cards per row */
  max-width: 300px; /* Limit maximum width of cards */
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
  background-color: #fff;
}

.card-content {
  text-align: left;
}

.card-content h2 {
  font-size: 18px;
  margin-top: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card-content p {
  margin-top: 5px;
  margin-bottom: 10px;
}

.card-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.card-content ul li {
  margin-bottom: 5px;
}

/* Responsive styles */
@media screen and (max-width: 1200px) {
  .cards-container {
    justify-content: center; /* Center the cards horizontally on smaller screens */
  }
}

@media screen and (max-width: 768px) {
  .card {
    width: calc(50% - 20px); /* Adjust the width to show 2 cards per row */
  }
  
  .text {
    padding-top: 15%; /* Increase padding-top for smaller screens */
    font-size: 20px; /* Decrease font size for smaller screens */
  }
}

@media screen and (max-width: 480px) {
  .card {
    width: calc(100% - 20px); /* Adjust the width to show 1 card per row */
  }
}


.error-message {
  background-color: #ffebee; /* Light red background */
  color: #b71c1c; /* Dark red text color */
  padding: 10px;
  font-size: 20px ;
  border-radius: 5px;
  text-align: center;
  margin-top: 13%; /* Adjust as needed */
}


/* Styles for the full-page spinner */
.full-page-spinner {
  position: fixed; /* Position the spinner relative to the viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent background */
  z-index: 9999; /* Ensure it's on top of other elements */
  display: flex; /* Center the spinner horizontally and vertically */
  justify-content: center;
  align-items: center;
}

/* Styles for the spinner itself */
.spinner {
  border: 8px solid #f3f3f3; /* Light grey border */
  border-top: 8px solid #3498db; /* Blue border on top for spinning effect */
  border-radius: 50%; /* Circle shape */
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite; /* Animation for spinning effect */
}

/* Keyframes for the spinning animation */
@keyframes spin {
  0% { transform: rotate(0deg); } /* Start position */
  100% { transform: rotate(360deg); } /* End position (one full rotation) */
}
