  <div class="text">
    <p> Prescription History Page </p>
  </div> 
<div class="cards-container">
  
  <div class="card" *ngFor="let prescription of prescriptions">
    <div class="card-content">
      <h2>Doctor Name</h2>
      <p>{{ prescription.doctorName }}</p>

      <h2>Disease</h2>
      <p>{{ prescription.disease }}</p>
      <h2>Created At</h2>
      <p>{{ prescription.createdAt }}</p>
      <h2>Medicines</h2>
      <ul>
        <li *ngFor="let medicine of prescription.medicines">
          {{ medicine.MedicineName }}  |  {{ medicine.frequency }} |{{ medicine.Period }}
        </li>
      </ul>
    </div>
  </div>
</div>
