.div {
    text-align: center;
    margin-top: 0px; /* Adjust margin as needed */
  }
  
  .div a {
    margin-right: 3%; /* Adjust margin as needed */
    border: none;
    text-decoration: none;
    color: rgb(99, 86, 10);
  }
  
  hr {
    height: 13px;
    color: #a44242;
  }
  
  @media screen and (max-width: 768px) {
    .div a {
      margin-right: 0; /* Reset margin for smaller screens */
    }
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%; /* Set width to 100% for responsiveness */
    overflow: hidden;
  }
  
  .image img {
    width: 100%; /* Set maximum width to 100% */
    height: auto;
    margin-top: 100px;
    /* background-color: #d4dbdf; */
    border-radius: 200px;
    
    /* Remove float for better responsiveness */
    /* Center the image horizontally */
  }
  
  .container .text {
    margin-top: 1em; /* Use relative units for responsiveness */
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    color: 	#d6c18b;
    font-variant: small-caps;
    font-size: large;
  }
  