<!-- <div class="image">
        <img src="assets/undraw_medicine_b-1-ol.svg" alt="">
    </div> -->

<!-- <button class="btn " (click) ="takeToDoctorLogin()"> doctor</button>
    <button  class=" btn" (click)="taketologin()">Patient</button>


     -->
<!-- <hr>
<div class="div">
    <a href=""> Patient </a>
    <a href=""> Doctor </a>
</div>

<hr> -->

<div class="container">
    <div class="image">
        <img src="assets/book-img.svg" alt="">
    </div>
    <div class="text">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam quos quisquam est asperiores explicabo
            consequuntur voluptate distinctio voluptatem quam magnam, laboriosam delectus sed quasi, voluptates sapiente
            molestias nisi et amet labore eaque corporis corrupti accusamus? Delectus vero rerum facere necessitatibus
            quo harum mollitia illo laudantium eaque rem non perferendis, dolorem repellendus quasi consequuntur ipsa
            error dignissimos. Ducimus unde libero ab distinctio! Unde, reprehenderit perspiciatis. Explicabo aperiam
            reprehenderit fuga suscipit nesciunt quia. Molestiae veniam unde quasi distinctio nihil ea, fugit sed magni
            alias enim quae, iure nulla deserunt laboriosam est quos ullam ducimus ut praesentium. At officia ducimus
          </p>
    </div>
    
</div>