<!-- <div class="image">
        <img src="assets/undraw_medicine_b-1-ol.svg" alt="">
    </div> -->

<!-- <button class="btn " (click) ="takeToDoctorLogin()"> doctor</button>
    <button  class=" btn" (click)="taketologin()">Patient</button>


     -->
<!-- <hr>
<div class="div">
    <a href=""> Patient </a>
    <a href=""> Doctor </a>
</div>

<hr> -->

<div class="container">
    <!-- <h4>KIMS Hospital</h4> -->
    <div class="image">
        <img src="assets/book-img.svg" alt="">
       
    </div>
    <div class="text">
    <h2>DPconnection: Your Healthcare Hub</h2>
        <p>Welcome to DPconnection, where doctors and patients connect effortlessly. Our platform bridges the gap
            between healthcare providers and individuals, offering a seamless experience for managing medical needs.
            With easy access to vital information, both doctors and patients stay informed and
            empowered to make well-informed decisions about their health. Join DPconnection today and experience the
            future of personalized healthcare management.
        </p>
    </div>

</div>