<div class="middle">
    <app-image></app-image>
    <div class="card">
        <div class="card-content">
            <h2 class="text-center">Profile</h2>
            <p><strong>Name:</strong> {{ patientName }}</p>
            <p><strong>Email:</strong> {{ patientEmail }}</p>
            <p><strong>Age:</strong> {{ patientAge }}</p>
            <p><strong>Phone Number:</strong> {{ phoneNumber }}</p>
            <div class="example-button-row">
                <button mat-raised-button (click)="taketohistorypage()">Prescription History</button>
            </div>
        </div>
    </div>
</div>
