<div class="middle">
    <app-image>
    </app-image>
    <div class="card">
        <div class="card-content">
            <h2 class="text-center">Card</h2>
            <p><strong>Name:</strong> {{ patientName}}</p>
            <p><strong>Email:</strong>{{patientEmail}}</p>
            <p><strong>Age:</strong> {{patientAge}}</p>
            <p><strong>Phone Number:</strong> {{PhoneNumber}}</p>
            <div class="example-button-row">
               
                <a (click)='taketohistorypage()'mat-raised-button routerLink="taketohistorypage">Prescription History</a>
              </div>
               
        </div>
    </div>

</div>
