<div class="middle">
    <app-image>
    </app-image>
    <div class="card">
        <div class="card-content">
            <h2 class="text-center">Card</h2>
            <p><strong>Name:</strong> John Doe</p>
            <p><strong>Email:</strong> john.com</p>
            <p><strong>Age:</strong> 30</p>
            <p><strong>Gender:</strong> Male</p>
            <p><strong>Phone Number:</strong> 1234567890</p>
            <p><strong>Disease:</strong> Hypertension</p>
            <p><strong>Prescription Date:</strong> March 22, 2024</p>
        </div>
    </div>

</div>