<div class="middle">
    <app-image-doctor>
    </app-image-doctor>
    <div class="card">
        <div class="card-content">
            <h2 class="text-center">Doctor Card</h2>
            <p><strong>Name:</strong> {{doctorName}}</p>
            <p><strong>Email:</strong> {{doctorEmail}}</p>
            <p><strong>Phone Number:</strong> {{phoneNumber}}</p>
            <p><strong>Specialty:</strong> {{specialty}}</p>
        </div>
        <div class="btn">
            <div class="example-button-row">
                <a mat-raised-button class="button-gap" (click)="takeToMedicinePage()">Give Medicine</a>
                <a mat-raised-button (click)="takeToHistory()">Patient History</a>
            </div>
        </div>
          
    </div>
    
   
    

</div>
