<div class="image">
    <img src="assets/undraw_medicine_b-1-ol.svg" alt="Profile Image">
</div>



<!-- Remaining Page -->
<!-- 

    1.History page for the doctor search 
    2.profile page for the doctor
 -->

 <!-- Connection -->
 <!-- 
    Total page for patient
    1.login for the patient-Done
    2.signup page for the patient
    3.profile page -working on it
    4.History page

    Total page for Doctor
    1.login for the patient
    2.signup page for the patient
    3.profile page 
    5.add prescrption and send mail to the patient
    4.History page

  -->