.image {
    width: 100%; /* Adjust width as needed */
    max-width: 300px; /* Limit maximum width */
    margin-top: 20px; /* Add some space */
    align-self: center; /* Center the image vertically */
    /* background-color: rgb(255, 255, 255); */
    border-radius: 50%;
    padding: 40px;
    /* box-shadow:10px 10px 10px 10px rgba(150, 144, 144, 0.2); */
}

.image img {
    max-width: 100%; /* Make the image responsive */
    height: auto; /* Maintain aspect ratio */
}
