/* You can add global styles to this file, and also import other style files */

/* html, body { height: 100%; } */
/* body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */

:root {
   --background-color: #c9ccd7;
   --primary-color: #fff;
   --special-color: #c2452f;
   --slight-gray: #96aaaa;
}

.light-theme {
   --background-color: #fbfefb;
   --primary-color: #282728;
   --special-color: #006cac;
   --slight-gray: #525252;
}

* {
   padding: 0;
   margin: 0;
}

body {
   margin: 0;
   padding: 0;
   background-color:rgb(255, 255, 255)
   /* transition: background-color 0.3s ease; */
   /* font-family: IBM Plex Mono, monospace; */
}